@charset "UTF-8";
html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Afacad", sans-serif;
  font-style: normal;
  overflow-x: hidden;
  background-image: url("./img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 63%;
}

header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 55px;
  gap: 10px;
  margin: 0;
  z-index: 1;
  padding: 0px 10px;
  border-bottom: 1px solid gray;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
header .logo {
  width: 100px;
  height: 60px;
  cursor: pointer;
}
header ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  gap: 45px;
  padding: 0px 30px;
  font-family: Arial, Helvetica, sans-serif;
}
header ul li a {
  text-decoration: none;
  color: rgb(214, 214, 214);
}
header ul li a:hover {
  color: gold;
}
header .book_btn {
  border: 2px solid gold;
  font-size: 15px;
  font-weight: bold;
  padding: 10px 20px;
  background-color: transparent;
  cursor: pointer;
  color: white;
  transition: 0.3s;
  margin-right: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
header .book_btn:hover {
  background-color: gold;
  color: black;
}
header #menuIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 50px;
  cursor: pointer;
}
header #menuIcon img {
  width: 30px;
  height: 30px;
}

.cover {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
}

.logoDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

.barber-pole {
  width: 30px;
  height: 40px;
  border-radius: 10px;
  overflow: hidden;
  border: 4px solid #444;
  background-color: #fff;
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.stripes {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 800px;
  /* высота должна быть кратной паттерну */
  background: repeating-linear-gradient(45deg, red 0px, red 10px, white 10px, white 20px, blue 20px, blue 30px, white 30px, white 40px);
  cursor: pointer;
  animation: spin 5s linear infinite;
}
.stripes:hover {
  animation-duration: 0.5s;
}

@keyframes spin {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-200px);
    /* должно быть кратно высоте паттерна */
  }
}
.services {
  width: 100%;
  height: 850px;
  background-image: url("./img/Services.svg");
  margin-top: -20px;
}

.headOfServices {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding-top: 60px;
  color: white;
  font-size: 50px;
}
.headOfServices h2 {
  padding: 0;
  margin: 0;
}

.servicesContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  align-items: center;
  justify-items: center;
  gap: 20px;
  width: 100%;
  height: 650px;
  padding-top: 10px;
}
.servicesContainer .serviceBox {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 350px;
  height: 280px;
  padding: 10px 0px;
  text-align: center;
  border: 2px solid #E9C664;
  color: white;
}
.servicesContainer .serviceBox p {
  width: 300px;
}

.mainText {
  font-family: "Alfa Slab One", serif;
  font-weight: 100;
  font-style: oblique;
  font-size: 15px;
  color: rgb(255, 255, 255);
  letter-spacing: 1px;
}

.roundedBox {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: end;
  justify-content: end;
}

.container {
  display: flex;
  justify-content: start;
  align-items: start;
  width: 240px;
  padding: 50px 11px;
  height: -moz-max-content;
  height: max-content;
  text-align: center;
  border-radius: 50%;
  right: 20px;
  bottom: 20px;
  background-color: rgba(158, 158, 158, 0.457);
  box-shadow: 0px 0px 10px rgb(255, 255, 255);
  animation: fadeIn 1.7s ease-in-out;
  cursor: pointer;
}

@media (max-width: 576px) {
  .mainText {
    font-size: 14px;
  }
  .spanText {
    font-size: 14px;
  }
}
.spanText {
  font-size: 20px;
  color: black;
}/*# sourceMappingURL=style.css.map */